@use '../../../../variables.scss' as *;

.article {
  background-color: $mainBgColor;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  padding: 4px;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  gap: 5px;
  @media (min-width: 350px) {
    gap: 10px;
  }
}

.info {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  color: $light-gray;
}

.infoItem {
  position: relative;
  line-height: 1 !important;
  &:not(:last-child) {
    padding-right: 7px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 2px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $purple;
      transform: translateY(-50%);
    }
  }
}

.arrow {
  flex: 0 0 23px;
  width: 100%;
  height: 14px;
  align-self: center;
}

.value {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  flex: 0 1 50%;
}

.currencyContainer {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 5px 15px 5px;
  justify-content: space-between;
  background-color: $almost-black;
  border-radius: 6px;
  @media (min-width: 350px) {
    padding: 15px 0px 15px 10px;
  }
}

.moreActions {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 350px) {
    width: 29px;
    height: 29px;
  }
}
