@use '../../../../variables.scss' as *;
@use 'sass:math';

.article {
  position: relative;
  width: 100%;
  padding: 4px 4px 4px 30px;
  border-radius: 10px;
  height: 69px;
  display: flex;
  align-items: center;
  z-index: -1;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    padding: 1px;
    z-index: -1;
    background: var(--border-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.currencyContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding: 15px 5px 15px 15px;
  background-color: $almost-black;
  border-radius: 6px;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: -1;
}

.moreActions {
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  position: absolute;
  display: none;
}

.currencyInfo {
  min-width: 165px;
}

.balance .balanceText {
  color: $light-gray;
  margin-top: -2px;
}

.balance {
  input {
    width: 100%;
    background-color: transparent;
    color: white;
    height: 35px;
    margin-top: 8px;
  }
}

.currencyContainer {
  position: relative;
  z-index: -1;

  &.opened {
    .options {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
      visibility: visible;
    }
  }
}

.selectedValue {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--border-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  }
}

.btnContent {
  position: relative;
  border-radius: 5px;
  width: 100%;
  gap: 10px;
  padding: 10px 13px;
  background-color: $almost-black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1 !important;

  & > img {
    transition: transform 0.3s ease 0s;
    transform: rotate(0deg);
  }

  &.rotate {
    & > img {
      transform: rotate(-180deg);
    }
  }
}

.options {
  position: absolute;
  top: calc(100% + 10px);
  transform: translateY(-10%);
  max-height: 250px;
  left: 0;
  z-index: 10;
  width: 100%;
  border-radius: 5px;
  background-color: $deep-gray;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  // &::-webkit-scrollbar {
  //   display: none;
  //   width: 0;
  //   height: 0;
  //   background: transparent;
  // }
}

.option {
  position: relative;
  font-weight: 300;
  padding: 15px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;

  &.isSelected {
    font-weight: 400;
    background-color: $light-gray;

    .check {
      display: block;
    }
  }

  &:hover {
    background-color: $dark-gray-purple;
  }
}
