.section {
  margin-top: 30px;
}

.container {
  margin: 0 auto;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
