.gradientBorderWrapper {
  overflow: hidden;
  position: relative;
  padding: 1px; // толщина бордера
  border-width: 1px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      #ffffff82 -13.73%,
      rgba(255, 255, 255, 0) 124.02%
    );
  }
}
