@use '../../../variables.scss' as *;

.container {
  max-width: 420px;
  margin: 0 auto;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
