@use '../../../variables.scss' as *;

.currency {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.imgContainer {
  width: 30px;
  height: 30px;
  position: relative;
  @media (min-width: 350px) {
    width: 38px;
    height: 38px;
  }
  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}

.currencyInfo {
  display: flex;
  flex-direction: column;
}

.currencyName {
  font-weight: 700;
  margin-top: 5px;
  font-size: 18px;
}

.currencyType {
  color: $light-gray;
  margin-top: -6px;
}
