@use '../../variables.scss' as var;

.main {
  margin-top: 30px;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 350px;
  margin: 20px auto 40px auto;
  user-select: none;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var.$dark-gray-purple;
    position: relative;
    width: fit-content;
    margin: auto;
    &.active {
      color: var.$white;
      &::before {
        width: 100%;
      }
    }
    &:hover {
      color: var.$white;
      &::before {
        width: 100%;
      }
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background: linear-gradient(89.83deg, #5C6AC4 -3.32%, #9C27B0 101.32%);
      transition: all 0.3s ease 0s;
    }

  }
}


.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}