@use './variables' as *;

.app {
  position: relative;
}

.viewContainer {
  width: 100%;
  max-width: calc($pageContentWidth + 20px);
	min-height: 100vh;
  padding: 20px 10px 100px 10px;
  margin: 0 auto;
	display: flex;
	flex-direction: column;
}
