@use './variables' as var;

.app {
  position: relative;
}

.viewContainer {
  width: 100%;
  max-width: var.$pageContentWidth;
  padding: 0 10px;
  margin: auto;
}

.topNav {
  margin-top: - var.$topNavHeight;
  height: var.$topNavHeight;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.24px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: var.$topNavGrad;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var.$topNavBorderGrad;
  }
}

.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 66px;
  background-color: var.$almost-black;
  user-select: none;

  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    color: var.$light-gray;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    border-radius: 10px;
    width: 85%;
    height: 85%;
    margin: auto;

    @media (any-hover: hover) {
      &:hover {
        color: var.$white;
        background-color: var.$deep-gray;
        img {
          filter: invert(100%);
        }
      }
    }

    &.active {
      color: var.$white;
      background-color: var.$deep-gray;
      img {
        filter: invert(100%);
      }
    }

    img {
      width: 32px;
      height: 32px;
      transition: all 0.2s ease 0s;
      margin-bottom: -3px;
    }
  }
}
