@use 'sass:math';
@use './variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Koulen&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: var.$minWidth + px;
}

body {
  color: var.$white;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//========================================================================================================================================================

* {
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25.91px;
}

.koulen {
  font-family: 'Koulen', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.istok {
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.f-30 {
  font-family: Koulen;
  font-size: 30px;
  line-height: 54.2px;
}

.f-28 {
  font-family: Koulen;
  font-size: 28px;
  line-height: 51px;
}

.f-23 {
  font-size: 23px;
  font-weight: 700;
  line-height: 33.11px;
}

.f-18 {
  font-size: 18px;
  line-height: 25.91px;
}

.f-16 {
  font-size: 16px;
  line-height: 23.03px;
}

.f-12 {
  font-size: 12px;
  line-height: 17.27px;
}

.f-10 {
  font-size: 10px;
  line-height: 14.39px;
}

.f-8 {
  font-size: 8px;
  line-height: 11.52px;
}

body {
  background-color: var.$mainBgColor;
  &.lock {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // simulate phone screen
  // max-width: 450px;
  // margin: 0 auto;
  // border-radius: 10px;
  // border: 5px solid var.$light-gray;
  // max-height: 900px;
  // height: 900px;
  // min-height: auto;

  @supports (overflow: clip) {
    overflow: clip;
  }

  > main {
    flex: 1 1 auto;
    background: url('./assets/mainBg.svg') no-repeat center bottom;
    background-size: contain;
  }
}
