@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900&display=swap');

$fontFamily: 'Roboto';
$fontSize: 16px;
$minWidth: 320;
$maxWidth: 1920;


$mainBgColor: #0c0a15;
$white: #fff;
$green: #00FE1E;
$red: #FF0000;

$light-gray: #8A8893;
$dark-gray-purple: #44424D;
$deep-gray: #24222D;
$almost-black: #191722;




