@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900&display=swap');

$fontFamily: 'Roboto';
$fontSize: 16px;
$minWidth: 320;
$maxWidth: 1920;

$mainBgColor: #0c0a15;
$white: #fff;
$green: #00fe1e;
$red: #ff0000;
$purple: #7471bc;

$light-gray: #8a8893;
$dark-gray-purple: #44424d;
$deep-gray: #24222d;
$almost-black: #191722;
