@use '../../../../variables.scss' as *;

.article {
  position: relative;
}

.currencyCardWrapper {
  &::before {
    border-radius: 10px;
  }
}

.content {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: $almost-black;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  height: 68px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  opacity: 1;
  transition: all 0.3s ease 0s;
  &.hide {
    opacity: 0;
  }
}

.moreActions {
  width: 29px;
  height: 29px;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
  transform: translateX(100%);
  &.show {
    transform: translateY(0);
  }
}
.button {
  padding: 0 13px;
  height: 100%;
  background-color: $purple;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $deep-gray;
    opacity: 0.5;
  }
}

.darkButton {
  background-color: $deep-gray;
  color: $light-gray;
}
